body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}


.p{
    width: inherit; 
    height: inherit;
}

.p1{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500; /* Medium weight */
}

.p2{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100; /* Medium weight */
    color: #797979
}

.p3{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500; /* Medium weight */
    color: #0C0C20
}

.p4{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 40; /* Medium weight */
    color: white
}

.p5{
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 100; /* Medium weight */
    color: black;
}

.p6{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 100; /* Medium weight */
    color: black;
}

.p7{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500; /* Medium weight */
    color: black;
}

.p8{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300; /* Medium weight */
    color: #0C0C20
}

.p9{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300; /* Medium weight */
    color: #6086B4
}

.p10{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700; /* Medium weight */
    color: #0C0C20
}

.logo-bar {
    background-color: #0C0C20;
    height: 70px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.logo-bar img {
    max-height: 100%;
    max-width: 100%;
}

.menu-sidebar {
    background-color: #E5E5E5;
    width: calc(100vw / 6);
    height: calc(100vh - 70px); /* Adjust height to accommodate logo bar */
    float: left;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* .menu-sidebar ul {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    height: 40%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
} */

.menu-sidebar .menu-wrap{
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    height: 40%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-sidebar li {
    /* padding: 10px; */
    position: relative;
    width: 100%;
}

.menu-sidebar li .underline {
    position: relative;
    bottom: 0;
    left: 0;
    width: 30%; 
    align-items: center;
    height: 2px;
    background-color: #0C0C20; 
    /* display: none; */
    display: block;
}

.menu-sidebar li:hover .underline,
.menu-sidebar li:active .underline,
.menu-sidebar li:focus .underline {
    display: block; /* Show the underline on hover */
}

.main-content {
    background-color: #F6FAF9;
    height: calc(100vh - 50px); /* Adjust height to accommodate logo bar */
    margin-left: calc(100vw / 6);
    padding: 20px;
}

.button-frame {
    align-items: center;
    background: white;
    border-radius: 10px;
    align-items: center;
    padding: 5px 10px;
}

.button-content {
    display: flex;
    align-items: center;
}

.button-content img {
    width: 20px; /* Adjust size of plus icon */
    margin-right: 10px;
}

.search-bar-frame{
    align-items: center;
}

.search-bar{
    background: #EEEEEE;
    border-radius: 18px;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.search-bar img{
    width: 20px; 
    margin-left: 20px;
    margin-right: 10px;
}

.popular-and-location{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.popular-new-top-section {
    justify-content: space-between;
    display:flex;
    flex-direction: row;
}

.frame {
    align-items: center;
    background: transparent;
    border-radius: 10px;
    align-items: center;
    padding: 5px 5px;
    width: 40%;
    display: inline-block; 
}

.content {
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}

.icon{
    width: 20px;
    margin-right: 10px;
}

.social-icon{
    width: 30px;
    margin-right: 20px;
}

.underline {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 50%; 
    height: 2px;
    background-color: #0C0C20; /* Change color as needed */
}

.location-button-frame {
    align-items: center;
    background: #FCA311;
    border-radius: 10px;
    align-items: center;
    padding: 0px 6px;
    display: inline-block; 
}

.location-button-content {
    display: flex;
    align-items: center;
}

.categories{
    margin: 3px;
    padding-top: 3px;
}

.category-frame, .category-frame-selected {
    align-items: center;
    background: #E5E5E5;
    border-radius: 10px;
    align-items: center;
    padding: 0px 10px;
    display: inline-block; 
    margin-right:7px;
    margin-bottom: 7px;
}

.category-frame-selected {
    background: #FCA311;
}

.dates{
    align-items: space-around;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

.date-frame {
    align-items: center;
    background: transparent;
    border-radius: 10px;
    align-items: center;
    padding: 5px 5px;
    width: 8%;
    display: inline-block; 
}

.date-content {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
   
}

.scrollable-event-cards{
    justify-content:space-evenly;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    /* height: calc(100% - 50px);  */
    height: 100vh;
    overflow: scroll;
}

.card {
    width: 386px;
    height: 473px;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
}

/* .card-content {
} */

.scroll-page{
    display: flex;
    flex-direction:column;
    height: calc(100% - 50px); /* Adjust height as needed */
    overflow:scroll;
}

.description{
    overflow: hidden;
    width:100%;
    height:60px;
    text-overflow: ellipsis;
}

.rounded-image {
    width: 100%;
    height: 53%;
    border-radius: 12px;
    margin-bottom:10px;
}

.time-price{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
}

.sign-up{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 80%;
    padding: 20px;
}

.text-box{
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 0px 10px;
    width: 100%;
}

.sign-up-socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}

.socials{
}

.time-selection{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 10px;
}

.slider {
    width: 60%;
    height: 5px;
    position: relative;
  }
  
.long-bar {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 5px;
}
  
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -7px; /* Adjust positioning */
}

.circle:nth-child(1) {
    background-color: #fca311;
    left: calc(25% - 10px); /* Position first circle */
}
  
.circle:nth-child(2) {
    background-color: #14213d;
    left: calc(75% - 10px); /* Position second circle */
}
  
.gradient-bar {
    position: absolute;
    top: 0;
    height: 100%;
    left: calc(25% - 10px); 
    background: linear-gradient(to right, #FCA311, #14213D);
    width: 50%; /* Adjust width of yellow bar */
    z-index: 1; /* Make sure it's above the grey circles */
}

.time-segments {
    display: flex;
    justify-content: center;
    width: 100%;
    margin:15px;
}
  
.main-bars {
    display: flex;
    align-items: center;
}

.bar {
    width: 3px;
    height: 17px;
    background-color: #D9D9D9;
    margin-right: 5px;

    margin-left: calc(var(--time-selection-width, 400px) / 40); 
}
  
.small-bars {
    width: 3px;
    height: 8px;
    background-color: #D9D9D9;
    margin-right: 5px;
    margin-left: calc(var(--time-selection-width, 400px) / 40); 
}

.time-am-pm{
    width: 70%;
    margin:-15px;
}

.time{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.time-frame {
    align-items: center;
    background: transparent;
    border-radius: 10px;
    align-items: center;
    padding: 5px 5px;
    width: 8%;
    display: inline-block; 
}

.time-content {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

.menu {
    display: none;
}
  
@media screen and (max-width: 414px) { /* iPhone width */
    .menu {
        display: flex;
    }
}

@media screen and (min-width: 415px) { /* iPhone width */
    .menu {
        display: none;
    }
}


