body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.p{
    width: inherit; 
    height: inherit;
}

.p1{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500; /* Medium weight */
}

.p2{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100; /* Medium weight */
    color: #999999
}

.p3{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500; /* Medium weight */
    color: #0C0C20
}

.p4{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 40; /* Medium weight */
    color: white
}

.p5{
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 100; /* Medium weight */
    color: black;
}

.logo-bar {
    background-color: #0C0C20;
    height: 70px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.logo-bar img {
    max-height: 100%;
    max-width: 100%;
}

.menu-sidebar {
    background-color: #E5E5E5;
    width: calc(100vw / 6);
    height: calc(100vh - 50px); /* Adjust height to accommodate logo bar */
    float: left;
}

.menu-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.menu-sidebar ul li {
    padding: 10px;
}

.menu-sidebar ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500; /* Medium weight */
}

.main-content {
    background-color: #F6FAF9;
    height: calc(100vh - 50px); /* Adjust height to accommodate logo bar */
    margin-left: calc(100vw / 6);
    padding: 20px;
}

.button-frame {
    align-items: center;
    background: white;
    border-radius: 10px;
    align-items: center;
    padding: 5px 10px;
}

.button-content {
    display: flex;
    align-items: center;
}

.button-content img {
    width: 20px; /* Adjust size of plus icon */
    margin-right: 10px;
}

.search-bar-frame{
    align-items: center;
}

.search-bar{
    background: #EEEEEE;
    border-radius: 18px;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.search-bar img{
    width: 20px; 
    margin-left: 20px;
    margin-right: 10px;
}

.popular-and-location{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.popular-new-top-section {
    justify-content: space-between;
    display:flex;
    flex-direction: row;
}

.frame {
    align-items: center;
    background: transparent;
    border-radius: 10px;
    align-items: center;
    padding: 5px 5px;
    width: 40%;
    display: inline-block; 
}

.content {
    display: flex;
    align-items: center;
    position: relative;
}

.icon{
    width: 20px; /* Adjust size of plus icon */
    margin-right: 10px;
}

.underline {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%; 
    height: 2px;
    background-color: #0C0C20; /* Change color as needed */
}

.location-button-frame {
    align-items: center;
    background: #FCA311;
    border-radius: 10px;
    align-items: center;
    padding: -2px 6px;
    display: inline-block; 
}

.location-button-content {
    display: flex;
    align-items: center;
}

.categories{
    margin: 3px;
    padding-top: 3px;

}

.category-frame, .category-frame-selected {
    align-items: center;
    background: #E5E5E5;
    border-radius: 10px;
    align-items: center;
    padding: 0px 10px;
    display: inline-block; 
    margin-right:2px;
    margin-bottom: 5px;
}

.category-frame-selected {
    background: #FCA311;
}